{
  "root": true,
  "plugins": ["jest", "prettier"],
  "extends": ["eslint:recommended", "plugin:jest/recommended"],
  "rules": {
    "no-console": 2
  },
  "env": {
    "jest": true,
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
